@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.video-clip-path{
    .vjs-poster {
        background: transparent !important;
    }

}

.banner-transition {
    view-transition-name: slide-in-out;
}

.navbar-item-transition {
    view-transition-name: navbar-slide-in-out;
}

.header-button-transition {
    view-transition-name: header-button;
  }

  ::view-transition-old(header-button) {
    animation: buttons-exit 0.5s ease-out forwards;
  }
  
  ::view-transition-new(header-button) {
    animation: buttons-enter 0.5s ease-out forwards;
  }
  
  @keyframes buttons-exit {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
        opacity: 0;
    }
    to {
      opacity: 0;
      transform: translateY(50px);
    }
  }
  
  @keyframes buttons-enter {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    50% {
        opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }